.wrapper {
    background-image: url('../assets/images/SelectScreen.png');
    background-size: cover;
  }

.flexTop {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

.flexCenter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow: hidden;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 60px;
    padding-right: 60px;
  }

.playerTab {
    display: block;
    width: 450px;
    height: 600px;
    border: 3px solid black;
    border-radius: 10px;
    margin-top: 60px;
  }

.vs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Mortalcombat';
    font-weight: bold;
    font-size: 50px;
  }

.playerTabs {
    justify-content: space-between;
    color: red;
    outline: none;
  }

.mc_fight{
    position: absolute;
    color: red;
    font-size: 120px;
    margin-top: 30px;
    margin-right: 60px;
    animation: changeFont 5s Infinite;
  }

.flexFooter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 12px;
  }

.footerIcon {
    display: block;
    width: 60px;
    height: 60px;
    border: 3px solid black;
    border-radius: 10px;
  }

@keyframes slidingFromLeft{
    0%{margin-left: -100px};
    100%{ margin-left: 0px};
  }

@keyframes slidingFromRight{
    0%{margin-right: -100px};
    100%{ margin-right: 0px};
  }

.left {
    animation: slidingFromLeft 3s;
  }

.right {
    animation: slidingFromRight 3s;
  }

@keyframes changeFont {
  0% {font-size: 180px}
  25% {font-size: 120px}
  50% {font-size: 180px}
  75% {font-size: 120px}
  100% {font-size: 180px}
  }
